mulesoft/sf-mule-erp-sync/target/META-INF/mule-src/sf-mule-erp-sync/src/main/mule/customer-sync.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
      http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

    <configuration-properties file="config.properties"/>

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <http:listener-connection host="${http.host}" port="${http.port}"/>
    </http:listener-config>

    <http:request-config name="ERP_Request_Config" doc:name="ERP Request config" basePath="${erp.basePath}">
        <http:request-connection host="${erp.host}" port="${erp.port}"/>
    </http:request-config>

    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config">
		<salesforce:basic-connection username="${sf.username}" password="${sf.password}" token="ABLexCZ0tqmxFtUGixGIFBCIL" url="${sf.loginUrl}"/>
    </salesforce:sfdc-config>

    <flow name="exp-customer-sync-api" doc:id="exp-customer-sync-api">
        <http:listener doc:name="POST /customers/sync"
                       config-ref="HTTP_Listener_config"
                       path="${api.basePath}/customers/sync"
                       allowedMethods="POST">
            <http:response statusCode="#[(vars.httpStatus default 200) as Number]" />
            <http:error-response statusCode="#[(vars.httpStatus default 500) as Number]" />
        </http:listener>

        <logger level="INFO" doc:name="Incoming request"
                message='#["Incoming customer sync request payload=" ++ write(payload, "application/json")]'/>

        <set-variable variableName="correlationId" value="#[(attributes.headers.'x-correlation-id' default uuid()) as String]"/>

        <ee:transform doc:name="Canonical request">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  externalId: (payload.externalId default "") as String,
  name: (payload.name default "") as String,
  billingCity: (payload.billingCity default "") as String,
  billingCountry: (payload.billingCountry default "") as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <set-variable variableName="customer" value="#[payload]"/>

        <choice doc:name="Validate request">
            <when expression="#[(isEmpty(vars.customer.externalId) or isEmpty(vars.customer.name) or isEmpty(vars.customer.billingCity) or isEmpty(vars.customer.billingCountry))]">
                <raise-error type="APP:VALIDATION" description="externalId, name, billingCity and billingCountry are required"/>
            </when>
        </choice>

        <flow-ref name="proc-customer-sync"/>

        <error-handler>
            <on-error-continue type="APP:VALIDATION" logException="true" doc:name="Validation error">
                <set-variable variableName="httpStatus" value="400"/>
                <ee:transform doc:name="Validation response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: vars.correlationId,
  status: "FAILED",
  errorType: "VALIDATION",
  message: error.description
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
            <on-error-continue type="ANY" logException="true" doc:name="Generic error">
                <set-variable variableName="httpStatus" value="#[(vars.httpStatus default 500)]"/>
                <ee:transform doc:name="Generic error response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: vars.correlationId default null,
  status: "FAILED",
  errorType: "SYSTEM",
  message: error.description default "Unexpected integration error"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="proc-customer-sync" doc:id="proc-customer-sync">
        <logger level="INFO" doc:name="Process start"
        message='#[output text/plain ---
        "correlationId=" ++ ((vars.correlationId default "") as String) ++
        " externalId=" ++ ((vars.customer.externalId default "") as String)]'/>
        <flow-ref name="sys-salesforce-upsert-account"/>
        <set-variable variableName="salesforceUpsertResult" value="#[payload]"/>
        <set-variable variableName="salesforceRecordId" value="#[payload.items[0].id default payload.items[0].payload.id default null]"/>
        <flow-ref name="sys-erp-upsert-customer"/>
        <set-variable variableName="erpResponse" value="#[payload]"/>
        <set-variable variableName="syncStatus" value="Synced"/>
        <set-variable variableName="integrationMessage"
              value='#[output text/plain ---
              "ERP sync completed for externalId=" ++ ((vars.customer.externalId default "") as String)]'/>
        <flow-ref name="sys-salesforce-update-status"/>
        <ee:transform doc:name="Success response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: vars.correlationId,
  status: "SUCCESS",
  salesforce: {
    id: vars.salesforceRecordId,
    result: vars.salesforceUpsertResult
  },
  erp: vars.erpResponse
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler>
            <on-error-continue type="HTTP:*" logException="true" doc:name="ERP error handler">
                <set-variable variableName="httpStatus" value="502"/>
                <set-variable variableName="syncStatus" value="Failed"/>
                <set-variable variableName="integrationMessage" value="#[error.description default 'ERP request failed']"/>
                <flow-ref name="sys-salesforce-update-status"/>
                <ee:transform doc:name="ERP failure response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: vars.correlationId,
  status: "FAILED",
  errorType: "ERP_CALL_FAILED",
  salesforceId: vars.salesforceRecordId,
  message: vars.integrationMessage
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <sub-flow name="sys-salesforce-upsert-account" doc:id="sys-salesforce-upsert-account">
        <ee:transform doc:name="To Salesforce Account">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    Name: vars.customer.name,
    BillingCity: vars.customer.billingCity,
    BillingCountry: vars.customer.billingCountry,
    External_Id__c: vars.customer.externalId,
    ERP_Status__c: "Pending",
    Integration_Message__c: "Requested by Mule"
  }
] ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <salesforce:upsert objectType="Account"
                           config-ref="Salesforce_Config"
                           externalIdFieldName="External_Id__c"
                           doc:name="Upsert Account"/>
    </sub-flow>

    <sub-flow name="sys-erp-upsert-customer" doc:id="sys-erp-upsert-customer">
        <ee:transform doc:name="To ERP Request">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  externalId: vars.customer.externalId,
  customerName: vars.customer.name,
  billingCity: vars.customer.billingCity,
  billingCountry: vars.customer.billingCountry,
  salesforceId: vars.salesforceRecordId,
  status: "ACTIVE"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request method="POST" doc:name="POST /erp/customers" config-ref="ERP_Request_Config" path="/customers"/>
    </sub-flow>

    <sub-flow name="sys-salesforce-update-status" doc:id="sys-salesforce-update-status">
        <choice doc:name="Update status only if Salesforce ID exists">
            <when expression="#[!isEmpty((vars.salesforceRecordId default '') as String)]">
                <ee:transform doc:name="Build status update payload">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    Id: vars.salesforceRecordId,
    ERP_Status__c: vars.syncStatus,
    Last_ERP_Sync__c: now(),
    Integration_Message__c: vars.integrationMessage
  }
] ]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <salesforce:update type="Account" config-ref="Salesforce_Config" doc:name="Update Account status"/>
            </when>
        </choice>
    </sub-flow>

</mule>
